# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 120
indent_style = space

[*.cpp]
indent_size = 4
tab_width = 4

[*.go]
indent_size = 4
tab_width = 4

[*.java]
indent_size = 4
tab_width = 4

[*.js]
indent_size = 4
tab_width = 4

[*.kt]
indent_size = 4
tab_width = 4

[*.php]
indent_size = 4
tab_width = 4

[*.pl]
indent_size = 4
tab_width = 4

[*.py]
indent_size = 4
tab_width = 4

[{*.r, *.R, *.rprofile}]
indent_size = 2
tab_width = 2

[*.rb]
indent_size = 2
tab_width = 2

[*.rs]
indent_size = 4
tab_width = 4

[*.scala]
indent_size = 2
tab_width = 2

[{*.bash, *.sh, *.zsh}]
indent_size = 2
tab_width = 2

[{*.har, *.jsb2, *.jsb3, *.json, .babelrc, .eslintrc, .stylelintrc, bowerrc, jest.config}]
indent_size = 2
tab_width = 2
